<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stock Search</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.js"></script>

  <script src="https://momentjs.com/downloads/moment.js"></script>
  <script src="https://momentjs.com/downloads/moment-timezone-with-data-2012-2022.js"></script>
  

  <style type="text/css">
    body{
      background-image : url("http://cs-server.usc.edu:45678/hw/hw8/images/background.png");
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .prompt-text{
      font-weight: bold;
    }
    .round-corner{
      border-radius: 5px;
      background-color: #FFF;
      margin: 20px 0 20px 0;
      padding: 20px 0 30px 0;
    }
    .form-control {
      display:inline-block;
    }

    .warning-text {
      color: #F00;
    }
    
    .panel-margin{
      margin: 0 20px 0 20px;
    }

    .align-left{
      float: left;
    }

    .align-right{
      float: right;
    }

    .align-center{
      margin: auto;
      text-align: center;
    }

    .inline{
      display: inline-block;
    }
    
  </style>
<!--
http://cs-server.usc.edu:45678/hw/hw8/images/facebook.png
http://cs-server.usc.edu:45678/hw/hw8/images/Up.png
http://cs-server.usc.edu:45678/hw/hw8/images/Down.png
-->


  <script type="text/javascript">
            const serverURL = window.location.href;
            const green_arrow_up = "http://cs-server.usc.edu:45678/hw/hw8/images/Up.png";
            const red_arrow_down = "http://cs-server.usc.edu:45678/hw/hw8/images/Down.png";  
					  
              angular
             .module('stockSearch', ['ngMaterial','ngSanitize'])
             .controller('stockController', stockController);

          function stockController ($timeout, $q, $log,$rootScope,$scope, $http) {
             var self = this;
             self.simulateQuery = false;
             self.isDisabled    = false;

             self.querySearch   = querySearch;
             self.selectedItemChange = selectedItemChange;
             self.searchTextChange   = searchTextChange;
             self.showWarning = false;
            //self.quoteButtonEnabled = 'disabled';
             self.quoteButtonEnabled = '';

             function querySearch (query) {
                if (filterSpace(query)){
                  var deferred = $q.defer();

                  var queryURL = serverURL + 'autocomplete/' + query;
                  $log.info(queryURL);
                  $http.get(queryURL).success(
                    function(data){
                      deferred.resolve(data);
                    }
                  );

                  return deferred.promise;
              }
             }

             function searchTextChange(text) {
                self.showWarning = !filterSpace(text);
                if (self.showWarning){
                  self.quoteButtonEnabled = 'disabled';
                }else{
                  self.quoteButtonEnabled = '';
                }
             }
             
             function selectedItemChange(item) {
                //$log.info('Item changed to ' + JSON.stringify(item));
                self.quoteButtonEnabled = '';
             }



             function getStockAPI(){
                //var apiURL = serverURL + "price\/" + self.searchText;
                var apiURL = serverURL + "price\/" + "AAPL";
                $log.info(apiURL);
                getJSON(apiURL,parsePrice);

             }

             function getJSON(url,callback){
                $http.get(url).success(
                    function(data){
                      callback(data);
                    }
              );
             }
            
            self.date_keys = [];
            self.currentSymbol = "";
            self.today_open = "";
            self.today_close = "";
            self.yesterday_close = "";
            self.change = "";
            self.changePercent = "";
            self.changeImage = "";
            self.changeStr = "";
            self.range = "";
            self.volume = "";
            self.timestamp = "";

            function parsePrice(data){

                  var meta_data = data["Meta Data"];
                  var time_series = data["Time Series (Daily)"];
                  date_keys = Object.keys(time_series);
                  var today_data = time_series[date_keys[0]];
                  var yesterday_data = time_series[date_keys[1]];

                  $log.info(date_keys);
                  $log.info(today_data);
                  $log.info(yesterday_data);

                  self.currentSymbol = meta_data["2. Symbol"];
                  self.today_open = today_data["1. open"];
                  self.today_close = today_data["4. close"];
                  self.yesterday_close = yesterday_data["4. close"];
                  self.change = (self.today_close - self.yesterday_close).toFixed(2);
                  self.changePercent = (self.change / self.yesterday_close * 100).toFixed(2) + "%";
                  if (self.change >= 0){
                    self.changeImage = green_arrow_up; 
                  }else{
                    self.changeImage = red_arrow_down;
                  }
                  self.changeStr = self.change + "(" + self.changePercent + ")<img height=\"20px\" src=\"" + self.changeImage + "\">";
                  self.range = today_data["3. low"] + "-" + today_data["2. high"];
                  self.timestamp = moment(meta_data["3. Last Refreshed"]).tz('America/New_York').format('YYYY-MM-DD HH:mm:ss z'); 
                  self.volume = numberWithCommas(today_data["5. volume"]);

                  drawPriceChart(time_series);
             }

             function drawPriceChart(data){
                  
             }

             function logJSON(json){
               $log.info(json);
             }


             //Helpers
             function filterSpace(text){
                if (text == ''){
                  return false;
                }

                if (text.trim() === ''){
                  return false;
                }else{
                  return true;
                }
             }


             function numberWithCommas(x) {
                  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
              }


             //HTML interactions
             $scope.clearText = function(){
               self.selectedItem = null;
               self.searchText = '';
               self.quoteButtonEnabled = 'disabled';
             }

             $scope.getQuote = function(){
               getStockAPI();               
             }
          }  

        

  </script>


</head>
<body ng-app="stockSearch" ng-cloak>


<div class="container"  ng-controller="stockController as ctrl">
  <div class="row round-corner bg-white">
        <div class="col text-center prompt-text">Stock Market Search</div>
        <div class="form-group" >
              
              <div class="col-sm-3 prompt-text">Enter Stocker Ticker Symbol:*</div>
              <div class="col-sm-6">
                 <form ng-submit = "$event.preventDefault()">

                    <md-autocomplete
                       ng-disabled = "ctrl.isDisabled"
                       md-no-cache = "ctrl.noCache"
                       md-selected-item = "ctrl.selectedItem"
                       md-search-text-change = "ctrl.searchTextChange(ctrl.searchText)"
                       md-search-text = "ctrl.searchText"
                       md-selected-item-change = "ctrl.selectedItemChange(item)"
                       md-items = "item in ctrl.querySearch(ctrl.searchText)"
                       md-item-text = "item.value"
                       md-min-length = "1"
                       placeholder = "eg. AAPL"
                       >
                       
                       <md-item-template>
                          <span md-highlight-text = "ctrl.searchText"
                             md-highlight-flags = "^i">{{item.display}}</span>
                       </md-item-template>
                       
                       <md-not-found>
                        </md-not-found>
                    </md-autocomplete>
                  
                 </form>             
 
                 <div ng-show='ctrl.showWarning' class='warning-text'>Please enter a stock ticker symbol.</div>
              </div>  
              
              <div class="col-sm-3">
                    <button type="button" class="btn btn-primary {{ctrl.quoteButtonEnabled}}" id="quote-button" ng-click="getQuote()"><span class="glyphicon glyphicon-search"></span> Get Quote</button>
                    <button type="button" class="btn btn-raised btn-default" id="clear-button" ng-click="clearText()"><span class="glyphicon glyphicon-refresh"></span> Clear</button>
              </div>       
        </div> 
  </div>

  <hr>

  <div class='row round-corner bg-white'>
            <div class='panel panel-default panel-margin' id='list-panel'>
                <div class='panel-heading'>
                  <span class='prompt-text'>Favorite List</span>
                  <span class='align-right'>
                    <span class='hidden-xs'>Automatic Refresh:</span>
                    <input type="checkbox" data-toggle="toggle" data-size="small">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon glyphicon-menu-right"></span>
                    </button>
                  </span>

                </div>
                <div class='panel-body'>
                  <div class="col-sm-3">
                      <span class='prompt-text'>Sort by</span>
                      <select>
                        <option>Default</option>
                        <option>Symbol</option>
                        <option>Price</option>
                        <option>Change</option>
                        <option>Change Percent</option>
                        <option>Volume</option>
                      </select>
                  </div>
                  <div class="col-sm-3">
                      <span class='prompt-text'>Order</span>
                      <select>
                        <option>Ascending</option>
                        <option>Descending</option>
                      </select>
                  </div>

                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Symbol</th>
                        <th>Stock Price</th>
                        <th>Change (Change Percent)</th>
                        <th>Volume</th>
                        <th></th>
                      </tr>
                    </thead>
                  </table>

                </div>
              
            </div>

            <div class='panel panel-default panel-margin' id='details-panel'>
              <div class='panel-heading'>
                <div class='align-left'>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </button>
                  </div>
                
                <div class="prompt-text align-center">Stock Details</div>
              </div>
              <div class='panel-body'>
                  <ul class="nav nav-pills">
                      <li role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-dashboard"></span> Current Stock</a></li>
                      <li role="presentation"><a href="#"><span class="glyphicon glyphicon-stats"></span> Historical Charts</a></li>
                      <li role="presentation"><a href="#"><span class="glyphicon glyphicon-link"></span>News Feeds</a></li>
                  </ul>

                  <hr>

                    <div id="currentDetails">
                      <div class="col-sm-6">
                        <span class="prompt-text">Stock Details</span>
                        <span class="align-right">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-sm">
                                <img src="http://cs-server.usc.edu:45678/hw/hw8/images/facebook.png" height="20px">
                            </button>

                        </span>
                        


                      <table class="table table-striped">
                        <tr>
                          <td class="prompt-text">Stock Ticker Symbol</td>
                          <td>{{ctrl.currentSymbol}}</td>
                        </tr>
                        <tr>
                            <td class="prompt-text">Last Price</td>
                            <td>{{ctrl.today_close}}</td>
                        </tr>
                        <tr>
                            <td class="prompt-text">Change (Change Percent)</td>
                            <td ng-bind-html="ctrl.changeStr"></td>
                        </tr>
                        <tr>
                            <td class="prompt-text">Timestamp</td>
                            <td>{{ctrl.timestamp}}</td>
                        </tr>
                        <tr>
                            <td class="prompt-text">Open</td>
                            <td>{{ctrl.today_open}}</td>
                        </tr>
                        <tr>
                            <td class="prompt-text">Previous Close</td>
                            <td>{{ctrl.yesterday_close}}</td>
                        </tr>
                        <tr>
                            <td class="prompt-text">Day's Range</td>
                            <td>{{ctrl.range}}</td>
                        </tr>
                        <tr>
                            <td class="prompt-text">Volume</td>
                            <td>{{ctrl.volume}}</td>
                        </tr>

                      </table>

                    </div>
                    

                      <div class="col-sm-6">
                          <ul class="nav nav-tabs">
                              <li role="presentation" class="active"><a href="#">Price</a></li>
                              <li role="presentation"><a href="#">SMA</a></li>
                              <li role="presentation"><a href="#">EMA</a></li>
                              <li role="presentation"><a href="#">STOCH</a></li>
                              <li role="presentation"><a href="#">RSI</a></li>
                              <li role="presentation"><a href="#">ADX</a></li>
                              <li role="presentation"><a href="#">CCI</a></li>
                              <li role="presentation"><a href="#">BBANDS</a></li>
                              <li role="presentation"><a href="#">MACD</a></li>
                          </ul>
                      </div>
                    </div>


                   

              </div>


            </div>
  </div>


  </div>
    
</body>
</html>
