<div class="container">
  <div class="row round-corner bg-white">
        <div class="col text-center prompt-text">Stock Market Search</div>
        <div class="form-group">
              <form class="form-class">
              <div class="col-sm-3 prompt-text">Enter Stocker Ticker Symbol:*</div>
              <div class="col-sm-6"><input type="text" class="form-control" id="symbol-text"></div>
              <div class="col-sm-3"><button type="button" class="btn btn-primary disabled" id="quote-button"><span class="glyphicon glyphicon-search"></span> Get Quote</button>
                    <button type="button" class="btn btn-raised btn-default" id="clear-button"><span class="glyphicon glyphicon-refresh"></span> Clear</button>
              </div>
              </form>
            
        </div>
    
  </div>

