<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stock Search</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.js"></script>

  <script src="https://momentjs.com/downloads/moment.js"></script>
  <script src="https://momentjs.com/downloads/moment-timezone-with-data-2012-2022.js"></script>
  
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  

  <style type="text/css">
    body{
      background-image : url("images/background.png");
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .prompt-text{
      font-weight: bold;
    }
    .round-corner{
      border-radius: 5px;
      background-color: #FFF;
      margin: 20px 0 20px 0;
      padding: 20px 0 30px 0;
      overflow: hidden;
    }
    .form-control {
      display:inline-block;
    }

    .warning-text {
      color: #F00;
    }
    
    .panel-margin{
      margin: 0 20px 0 20px;
    }

    .align-left{
      float: left;
    }

    .align-right{
      float: right;
    }

    .align-center{
      margin: auto;
      text-align: center;
    }

    .inline{
      display: inline-block;
    }
    
    .blue-anchor{
	    color: #0000ff;
		text-decoration: none;
    }

    .news-title{
        color :darkmagenta;
        font-size: 16px;
        font-weight: bold;
    }

    .yellow-star{
        color: gold;
    }

    .progress-container{
        margin: 100px 0 100px 0;
    }

    .little-space{
        margin-right: 20px;
    }

    .sort-button{
        width: 150px;
    }

    .slide-right.ng-hide-remove {
        transform:translateX(100%);
        transition: all 0.5s ease;
    }

    .slide-right.ng-hide-remove.ng-hide-remove-active {
        transform: translateX(0);
    }

    .slide-left.ng-hide-remove {
        transform:translateX(-100%);
        transition: all 0.5s ease;
    }

    .slide-left.ng-hide-remove.ng-hide-remove-active {
        transform: translateX(0);
    }
    

  </style>

  <script type="text/javascript">
            const serverURL = window.location.href;
            const green_arrow_up = "images/Green_Arrow_Up.png";
            const red_arrow_down = "images/Red_Arrow_Down.png";  
					  
              angular
             .module('stockSearch', ['ngMaterial','ngSanitize','ngAnimate'])
             .controller('stockController', stockController);



          function stockController ($timeout, $q, $log,$rootScope,$scope, $http, $interval) {
             var self = this;
             self.simulateQuery = false;
             self.isDisabled    = false;

             self.querySearch   = querySearch;
             self.selectedItemChange = selectedItemChange;
             self.searchTextChange   = searchTextChange;
             self.showWarning = false;
             self.quoteButtonEnabled = 'disabled';
             //self.quoteButtonEnabled = '';

             function querySearch (query) {
                if (filterSpace(query)){
                  var deferred = $q.defer();

                  var queryURL = serverURL + 'autocomplete/' + query;
                  $log.info(queryURL);
                  $http.get(queryURL).success(
                    function(data){
                      deferred.resolve(data);
                    }
                  );

                  return deferred.promise;
              }
             }

             function searchTextChange(text) {
                self.showWarning = !filterSpace(text);
                if (self.showWarning){
                  self.quoteButtonEnabled = 'disabled';
                }else{
                  self.quoteButtonEnabled = '';
                }
             }
             
             function selectedItemChange(item) {
                //$log.info('Item changed to ' + JSON.stringify(item));
                self.quoteButtonEnabled = '';
             }


            self.time_series = [];
            self.date_keys = [];
            self.parsed_dates = [];
            self.currentSymbol = "";
            self.today_open = "";
            self.today_close = "";
            self.yesterday_close = "";
            self.change = "";
            self.changePercent = "";
            self.changeImage = "";
            self.changeStr = "";
            self.range = "";
            self.volume = "";
            self.timestamp = "";
            self.currentInd = "";
            self.currentIndLines = 0;

             function getStockAPI(){
                resetButtons();
                self.showDetails = true;
                self.rightNavEnabled = '';
                var apiURL = serverURL + "price\/" + self.searchText;
                //var apiURL = serverURL + "price\/AAPL";
                //$log.info(apiURL);
                getJSON(apiURL,parsePrice);
             }

             function getIndicatorAPI(ind,lines){
               var apiURL = serverURL + "indicator\/" + self.searchText + "\/" + ind;
               //var apiURL = serverURL + "indicator\/" + "AAPL" + "\/" + ind;
               
              self.currentInd = ind;
              self.currentIndLines = lines;
            
              getJSON(apiURL,drawIndicatorChart);
             }

             function getNewsAPI(){
                var apiURL = serverURL + "news\/" + self.currentSymbol;
                //var apiURL = serverURL + "news\/AAPL";
                getJSON(apiURL,showNews);    
            }

             function getJSON(url,callback){
                self.showBar = true;
                $http.get(url).success(
                    function(data){
                        $log.info(data);
                        if (data == "Error"){
                            $log.info("Error");   
                        }else{
                            callback(data);
                        }
                    }
              );
             }

            function parsePrice(data){
                  self.showBar = false;  
                  var meta_data = data["Meta Data"];
                  self.time_series = data["Time Series (Daily)"];
                  
                  self.date_keys = Object.keys(self.time_series);
                  var today_data = self.time_series[self.date_keys[0]];
                  var yesterday_data = self.time_series[self.date_keys[1]];
 
                  self.currentSymbol = meta_data["2. Symbol"];
                  self.today_open = parseFloat(today_data["1. open"]).toFixed(2);
                  self.today_close = parseFloat(today_data["4. close"]).toFixed(2);
                  self.yesterday_close = parseFloat(yesterday_data["4. close"]).toFixed(2);
                 
                  self.change = (self.today_close - self.yesterday_close).toFixed(2);
                  self.changePercent = (self.change / self.yesterday_close * 100).toFixed(2) + "%";
                  if (self.change >= 0){
                    self.changeImage = green_arrow_up; 
                  }else{
                    self.changeImage = red_arrow_down;
                  }
                  self.changeStr = self.change + "(" + self.changePercent + ")<img height=\"20px\" src=\"" + self.changeImage + "\">";
                  self.range = today_data["3. low"] + "-" + today_data["2. high"];
                  self.timestamp = moment(meta_data["3. Last Refreshed"]).tz('America/New_York').format('YYYY-MM-DD HH:mm:ss z'); 
                  self.volume = numberWithCommas(today_data["5. volume"]);

                  self.favButtonEnabled = '';
                  self.FBButtonEnabled = '';

                  drawPriceChart();
             }

             function drawPriceChart(){
                  if (self.time_series.length == 0){
                    return;
                  }    

                  var data = self.time_series;

                  var parsed_dates = [];
                  var price_data = [];
                  var volume_data = [];

                  var today_date = self.date_keys[0];
                  var today_date_split = today_date.split("-");
                  var current_month = today_date_split[1];
                  var current_day = today_date_split[2];

                  for (var i in self.date_keys){
                    var i_date = self.date_keys[i];
                    var i_date_split = i_date.split("-");
                    var i_month = i_date_split[1];
                    var i_day = i_date_split[2];

                    var i_item = data[i_date];
                    parsed_dates.push(i_month + "/" + i_day);
                    price_data.push(parseFloat(i_item["4. close"]));
                    volume_data.push(parseFloat(i_item["5. volume"]));

                    if (i_month == current_month-6 && i_day <= current_day && (i % 5) ==0){
                      break;
                    }
                  }
                  
                  parsed_dates.reverse();
                  price_data.reverse();
                  volume_data.reverse();
                  self.parsed_dates = parsed_dates;

                  highChartDrawPrice(self.currentSymbol,parsed_dates,price_data,volume_data);
             }

             function drawIndicatorChart(data){
                self.showBar = false;
                if (self.currentIndLines == 1){
                    drawSingleLineChart(data,self.currentSymbol,self.currentInd,self.parsed_dates);
                }else if(self.currentIndLines == 2){
                    drawDoubleLineChart(data,self.currentSymbol,self.currentInd,self.parsed_dates);                    
                }else if(self.currentIndLines ==3){
                    drawTripleLineChart(data,self.currentSymbol,self.currentInd,self.parsed_dates);                    
                }
             }

             function drawHistoricalChart(){
                    var parsed_price = [];

                    for (var i=0;i<1000;i++){
                        var i_date = self.date_keys[i];
                        var i_price = parseFloat(self.time_series[i_date]["4. close"]);
                        var i_parsed_date = parseInt(moment(i_date).format("x"));
                        parsed_price.push([i_parsed_date,i_price]);
                        
                    }

                    parsed_price.reverse();
                    

                    highChartDrawHistoricalChart(self.currentSymbol,parsed_price);
                    
             }

             self.newsData = [];

             function showNews(data){
                self.showBar = false;
                self.newsData = data;
             };

             self.favList = [];
             //For test soring functionality
             /*
             self.favList = [
                {
                    symbol : "B",
                    data : {
                        price : "10",
                        change : "2",
                        changePercent : "2",
                        changeStr : "2 (2)",
                        volume : "100"
                    }
                },
                {
                    symbol : "A",
                    data : {
                        price : "20",
                        change : "10",
                        changePercent : "5",
                        changeStr : "10 (5)",
                        volume : "300"
                    }
                }
             ]
             */

             function addSymbolToFav(){
                for (var i = 0;i < self.favList.length;i++){
                    if (self.favList[i]["symbol"] == self.currentSymbol){
                        return;
                    }
                }

                self.favButtonStyle = 'glyphicon-star yellow-star'

                var symbol = self.currentSymbol;
                var price = self.today_close;
                var change = self.change;
                var changePercent = self.changePercent;
                var changeStr = self.changeStr;
                var volume = self.volume;
                self.favList.push({
                        'symbol' : symbol,
                        'data' : {
                            'price' : price,
                            'change' : change,
                            'changePercent' : changePercent,
                            'changeStr' : changeStr,
                            'volume' : volume
                        }
                    });
             };

             function removeSymbolFromFav(index){
                self.favList.splice(index);
             }

             function updateFavList(){
                for (var i = 0;i < self.favList.length;i++){
                    var i_symbol = self.favList[i]["symbol"];
                    getPriceFast(i_symbol);
                }
             }


             function getPriceFast(symbol){
                var apiURL = serverURL + "priceFast\/" + symbol;
                getJSON(apiURL,parsePriceFast);
             }


             function parsePriceFast(data){
                self.showBar = false;
                var symbol = data["symbol"];
                for (var i = 0;i < self.favList.length;i++){
                    if (self.favList[i]["symbol"] == symbol){
                        var item = self.favList[i]["data"];
                        item["price"] = data["price"];
                        var change = data["change"];
                        var changePercent = data["changePercent"];
                        item["change"] = change;
                        item["changePercent"] = changePercent;
                        var changeImage  = '';
                        if (change >= 0){
                            changeImage = green_arrow_up; 
                        }else{
                            changeImage = red_arrow_down;
                        }
                        var changeStr = change + "(" + changePercent + ")<img height=\"20px\" src=\"" + changeImage + "\">";
                        item["changeStr"] = changeStr;

                        item["volume"] = numberWithCommas(data["volume"]);
                        $log.info(item);
                    }
                }

             }

             //Page Malnipulation
             self.detailsNav = ["active",'',''];
             self.detailsDiv = [true,false,false];
             self.chartsNav = ["active",'','','','','','','',''];

             function activeChartsNav(x){
                activeTab(self.chartsNav,x);
             }

             function activeDetailsNav(x){
                 activeTab(self.detailsNav,x);
             }

             function activeTab(nav,x){
                for (var i = 0;i<nav.length;i++){
                  if (i == x){
                    nav[i] = "active";
                  }else{
                    nav[i] = "";
                  }
                }
             }

            function activeDiv(x){
                for (var i=0;i<self.detailsDiv.length;i++){
                    if (i == x){
                        self.detailsDiv[i] = true;
                    }else{
                        self.detailsDiv[i] = false;
                    }
                }
            }

            self.showBar = true;

             //Helpers
             function filterSpace(text){
                if (text == ''){
                  return false;
                }

                if (text.trim() === ''){
                  return false;
                }else{
                  return true;
                }
             }


             function numberWithCommas(x) {
                  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
              }


             //HTML interactions
             $scope.clearText = function(){
               self.selectedItem = null;
               self.searchText = '';
               self.quoteButtonEnabled = 'disabled';
               self.showDetails = false;
             }

             $scope.getQuote = function(){
                 if (self.quoteButtonEnabled != 'disabled'){
                    getStockAPI();
                 }
             }

             $scope.drawPrice = function(){
               drawPriceChart();
               activeChartsNav(0);
             }

             $scope.drawIndicator = function(ind,lines,tab){
                getIndicatorAPI(ind,lines);
                activeChartsNav(tab);
            }

             $scope.switchCurrentStock = function(){
                 activeDetailsNav(0);
                 activeDiv(0);
                 getStockAPI();  
             }

             $scope.switchHistoricalChart = function(){
                activeDetailsNav(1); 
                activeDiv(1);
                drawHistoricalChart();
             }

             $scope.switchNews = function(){
                activeDetailsNav(2); 
                activeDiv(2);
                getNewsAPI();
             }

             $scope.quoteFav = function(symbol){
                 self.currentSymbol = symbol;
                 getStockAPI();
             }

             $scope.addFav = function(){
                 if (self.favButtonEnabled != 'disabled'){
                    if (self.favButtonStyle == "glyphicon-star-empty"){
                        addSymbolToFav();
                    }else{
                        
                        var index = self.favList.indexOf(self.currentSymbol);
                        removeSymbolFromFav(index);
                        checkFavButton();
                    }
                    
                 }
             }

             $scope.removeFav = function(index){
                removeSymbolFromFav(index);
                checkFavButton();
             }

             $scope.refreshFavList = function(){
                 updateFavList();
             }


             self.autoRefreshFunc = '';
             self.enableAutoRefresh = false;
             $scope.toggleAutoRefresh = function(){
                 
                 self.enableAutoRefresh = !self.enableAutoRefresh;
                 if (self.enableAutoRefresh){
                    $log.info("Start Auto Refresh");
                    self.autoRefreshFunc = $interval(updateFavList,5000);
                 }else{
                    $log.info("Stop Auto Refresh");
                    $interval.cancel(self.autoRefreshFunc);
                 }
             }

             self.favButtonEnabled = 'disabled';
             self.favButtonStyle = 'glyphicon-star-empty';
             self.FBButtonEnabled = 'disabled';

             function resetButtons (){ 
                self.favButtonEnabled = 'disabled';
                self.favButtonStyle = 'glyphicon-star-empty';
                self.FBButtonEnabled = 'disabled';
             }

             function checkFavButton(){
                for (var i = 0;i < self.favList.length;i++){
                    if (self.favList[i]["symbol"] == self.currentSymbol){
                        self.favButtonStyle = 'glyphicon-star yellow-star';
                        return;
                    }
                }
                self.favButtonStyle = 'glyphicon-star-empty';
             }

             self.sortby = 'Default';
             self.sortbyDisplay = 'Default';
             self.orderby = 'Ascending';

             self.orderbyEnabled = 'disabled';
             self.defaultOrder = '';

             function changeSort(display,sortby){
                if (self.favList.length == 0){
                    return;
                }

                if (self.sortby == "Default" && sortby != "Default"){
                    self.defaultOrder = self.favList;
                }

                self.sortbyDisplay = display;
                self.sortby = sortby;
                
                if (self.sortbyDisplay == 'Default'){
                    self.favList = self.defaultOrder;
                    self.orderbyEnabled = 'disabled';    
                }else{
                    self.orderbyEnabled = '';
                    updateSort();
                }
             }

             function updateSort(){
                if (self.sortby == "symbol"){
                    sortBySymbol();
                }else{
                    sortByValue();
                }
             }

             function changeOrder(orderby){
                if (self.favList.length == 0){
                    return;
                }
                self.orderby = orderby;
                updateSort();
            }

             function sortBySymbol(){
                if (self.orderby == "Ascending"){
                    self.favList.sort(function(a,b){
                        var a_symbol = a["symbol"];
                        var b_symbol = b["symbol"];
                        if (a_symbol < b_symbol){
                            return -1;
                        }
                        if (a_symbol > b_symbol){
                            return 1;
                        }        
                        return 0;
                    });
                }else{
                    self.favList.sort(function(a,b){
                        var a_symbol = a["symbol"];
                        var b_symbol = b["symbol"];
                        if (a_symbol > b_symbol){
                            return -1;
                        }
                        if (a_symbol < b_symbol){
                            return 1;
                        }        
                        return 0;
                    });
                }
             }

             function sortByValue(){
                var orderby = self.orderby;

                if (self.orderby == "Ascending"){
                    self.favList.sort(function(a,b){
                        var a_data = parseFloat(a["data"][self.sortby].replace(/,/g, ""));
                        var b_data = parseFloat(b["data"][self.sortby].replace(/,/g, ""));
                        return a_data - b_data;
                    });
                }else{
                    self.favList.sort(function(a,b){
                        var a_data = parseFloat(a["data"][self.sortby].replace(/,/g, ""));
                        var b_data = parseFloat(b["data"][self.sortby].replace(/,/g, ""));
                        return b_data - a_data;
                    });
                }
             }

             $scope.changeSortBy = function(display,sortby){
                changeSort(display,sortby);
             }

             $scope.changeOrderBy = function(orderby){
                 changeOrder(orderby);
             }

             self.rightNavEnabled = 'disabled';
             
             self.showDetails = false;

             $scope.gotoList = function(){
                self.showDetails = false;
             }

             $scope.gotoDetails = function(){
                 if (self.rightNavEnabled != 'disabled'){
                    self.showDetails = true;
                 }
             }

             $scope.FBClick  = function(){     

                 if (self.FBButtonEnabled != 'disabled'){
                    highChartExport();

                    FB.ui({
                        app_id:	147477582512463,	
                        method: 'feed',
                        picture: 'http://cs-server.usc.edu:45678/hw/hw8/images/background.png',
                        caption: 'Test',
                    }, function(response){});
                 }
             }
             
          } 
          
          var currentChart = '';

          function highChartExport(){
              console.log(currentChart.exportChart());
          }

          function highChartDrawPrice(symbol, parsed_dates,close_values,volume_values){
            currentChart = Highcharts.chart('chart-container', {
                  chart :{
                    zoomType : 'x'
                  },
					        title: {
					            text: symbol + " Stock Price and Volume"
					        },
					        subtitle:{
					        	text : '<a href="https://www.alphavantage.co/" class="blue-anchor" target="_blank">Source: Alpha Advantage</a>',
					        	useHTML : true
					        },
					        tooltip: {
					        	pointFormat : '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y: .2f}</b><br/>'
    						},
					        xAxis: {					        	
					            categories: parsed_dates,
					            tickInterval : 5,
					        },
					        yAxis: [{ // Primary yAxis
							        labels: {
							            style: {
							                color: Highcharts.getOptions().colors[1]
							            }
							        },
							        title: {
							            text: 'Stock Price',
							            style: {
							                color: Highcharts.getOptions().colors[1]
							            }
							        }
							    }, { // Secondary yAxis
							        title: {
							            text: 'Volume',
							            style: {
							                color: Highcharts.getOptions().colors[1]
							            }
							        },
							        labels: {
							            style: {
							                color: Highcharts.getOptions().colors[1]
							            }
							        },
							        opposite: true
							    }],
					        series: [{
					        	type : 'area',
					            name: symbol,
					            data: close_values,
					            color : "#393280"
					        },{
					        	yAxis : 1,
					        	type : 'column',
					        	name : symbol + "Volume",
					        	data : volume_values,
					        	color : "#cf454d"
					        }]
					    });
          }

          function drawSingleLineChart(data_json, symbol, acry, parsed_dates){
						var root_keys = Object.keys(data_json);
						var ind_title = (data_json[root_keys[0]])["2: Indicator"];
						var data_series = data_json[root_keys[1]];
						var date_keys = Object.keys(data_series);
						var ind_acry =  Object.keys((data_json[root_keys[1]])[date_keys[0]])[0] ;
						
						var x_data = [];

						for (var i = 0;i<parsed_dates.length;i++){
							x_data.unshift( parseFloat((data_series[date_keys[i]])[ind_acry]) );
						}

						var y_ticks = yIntervalHelper(x_data);
						
						currentChart = Highcharts.chart('chart-container', {
                            chart :{
                                zoomType : 'x'
                            },
					        title: {
					            text: '<span style=\"font-size:14px\">' + ind_title + '</span>',
					        },
					        subtitle:{
					     		text : '<a href="https://www.alphavantage.co/" class="blue-anchor" target="_blank">Source: Alpha Advantage</a>',
					        	useHTML : true
					        },
					        xAxis: {					        	
					            categories: parsed_dates,
					            tickInterval : 5,
					            minorGridLineWidth: 0,
						        minorTickInterval: 'auto',
						        minorTickColor: '#d7606a',
						        minorTickWidth: 1,
						        endOnTick : true
					        },
					        yAxis: { // Primary yAxis
					        		floor: y_ticks[0],
        							ceiling: y_ticks[1],
							        labels: {
							            style: {
							                color: Highcharts.getOptions().colors[1]
							            }
							        },
							        title: {
							            text: acry,
							            style: {
							                color: Highcharts.getOptions().colors[1]
							            }
							        }
							    },
							legend: {
								align : 'center',
								verticalAlign :'bottom'
							},
					        series: [{
					        	type : 'line',
					            name: symbol,
					            data: x_data,
					            color : '#d7606a',
					            lineWidth : 1,
					            marker: {
             				   		enabled: true,
             				   		radius: 1
            					}					        	
					        	}
					        ]
					    });
					    						
					}

			function drawDoubleLineChart(data_json, symbol, acry, parsed_dates){
						var root_keys = Object.keys(data_json);
						var ind_title = (data_json[root_keys[0]])["2: Indicator"];
						var data_series = data_json[root_keys[1]];
						var date_keys = Object.keys(data_series);
						var ind_keys =  Object.keys((data_json[root_keys[1]])[date_keys[0]]) ;
						
						var x_data_0 = [];
						var x_data_1 = [];
						

						for (var i = 0;i<parsed_dates.length;i++){
							x_data_0.unshift( parseFloat((data_series[date_keys[i]])[ind_keys[0]]));
							x_data_1.unshift( parseFloat((data_series[date_keys[i]])[ind_keys[1]]));
						}

						var y_ticks = yIntervalHelper(x_data_0);
						
						currentChart = Highcharts.chart('chart-container', {
                            chart :{
                                zoomType : 'x'
                            },
					        title: {
					            text: '<span style=\"font-size:14px\">' + ind_title + '</span>',
					        },
					        subtitle:{
					        	text : '<a href="https://www.alphavantage.co/" class="blue-anchor" target="_blank">Source: Alpha Advantage</a>',
					        	useHTML : true
					        },
					        xAxis: {					        	
					            categories: parsed_dates,
					            tickInterval : 5,
					            minorGridLineWidth: 0,
						        minorTickInterval: 'auto',
						        minorTickColor: '#d7606a',
						        minorTickWidth: 1
					        },
					        yAxis: { // Primary yAxis
					        		
							        labels: {
							            style: {
							                color: Highcharts.getOptions().colors[1]
							            }
							        },
							        title: {
							            text: acry,
							            style: {
							                color: Highcharts.getOptions().colors[1]
							            }
							        }
							    },
                            legend: {
                                    align : 'center',
                                    verticalAlign :'bottom'
                                },
					        series: [{
					        	type : 'line',
					            name: symbol + " " + ind_keys[0],
					            data: x_data_0,
					            color : '#d7606a',
					            lineWidth : 1,
					            marker: {
             				   		enabled: true,
             				   		radius: 1
            					}					        	
					        	},
					        	{
					        	type : 'line',
					            name: symbol + " " + ind_keys[1],
					            data: x_data_1,
					            color : '#00bfff',
					            lineWidth : 1,
					            marker: {
             				   		enabled: true,
             				   		radius: 1
            					}					        	
					        	}
					        ]
					    });
					    						
					}

		    function drawTripleLineChart(data_json, symbol, acry, parsed_dates){
						var root_keys = Object.keys(data_json);
						var ind_title = (data_json[root_keys[0]])["2: Indicator"];
						var data_series = data_json[root_keys[1]];
						var date_keys = Object.keys(data_series);
						var ind_keys =  Object.keys((data_json[root_keys[1]])[date_keys[0]]) ;
						
						var x_data_0 = [];
						var x_data_1 = [];
						var x_data_2 = [];	

						for (var i = 0;i<parsed_dates.length;i++){
							x_data_0.unshift( parseFloat((data_series[date_keys[i]])[ind_keys[0]]));
							x_data_1.unshift( parseFloat((data_series[date_keys[i]])[ind_keys[1]]));
							x_data_2.unshift( parseFloat((data_series[date_keys[i]])[ind_keys[2]]));
						}

						var y_ticks = yIntervalHelper(x_data_0);

						
						currentChart = Highcharts.chart('chart-container', {
                            chart :{
                                zoomType : 'x'
                            },
					        title: {
					            text: '<span style=\"font-size:14px\">' + ind_title + '</span>',
					        },
					        subtitle:{
					        	text : '<a href="https://www.alphavantage.co/" class="blue-anchor" target="_blank">Source: Alpha Advantage</a>',
					        	useHTML : true
					        },
					        xAxis: {					        	
					            categories: parsed_dates,
					            tickInterval : 5,
					            minorGridLineWidth: 0,
						        minorTickInterval: 'auto',
						        minorTickColor: '#d7606a',
						        minorTickWidth: 1
					        },
					        yAxis: { // Primary yAxis
					        		
							        labels: {
							            style: {
							                color: Highcharts.getOptions().colors[1]
							            }
							        },
							        title: {
							            text: acry,
							            style: {
							                color: Highcharts.getOptions().colors[1]
							            }
							        }
							    },
                            legend: {
                                    align : 'center',
                                    verticalAlign :'bottom'
                                },
					        series: [{
					        	type : 'line',
					            name: symbol + " " + ind_keys[0],
					            data: x_data_0,
					            color : '#d7606a',
					            lineWidth : 1,
					            marker: {
             				   		enabled: true,
             				   		radius: 1
            					}					        	
					        	},
					        	{
					        	type : 'line',
					            name: symbol + " " + ind_keys[1],
					            data: x_data_1,
					            color : '#00bfff',
					            lineWidth : 1,
					            marker: {
             				   		enabled: true,
             				   		radius: 1
            					}					        	
					        	},
					        	{
					        	type : 'line',
					            name: symbol + " " + ind_keys[2],
					            data: x_data_2,
					            color : '#00b200',
					            lineWidth : 1,
					            marker: {
             				   		enabled: true,
             				   		radius: 1
            					}					        	
					        	}
					        ]
					    });
					    						
          }
          
          function yIntervalHelper(arr){   
						var max = arr[0];
						var min = arr[1];
						for (var i=0;i<arr.length;i++){
							if ( arr[i] > max ){
								max = arr[i];
							}
							if (arr[i] < min){
								min = arr[i];
							}
						}

						var result = [];
						result.push(min);
						result.push(max);

						return result;
					}



        function highChartDrawHistoricalChart(symbol,data){
            var chart = Highcharts.stockChart('historical-chart-container', {
                
                title: {
                    text: symbol + " Stock Value"
                },

                subtitle: {
                    text : '<a href="https://www.alphavantage.co/" class="blue-anchor" target="_blank">Source: Alpha Advantage</a>',
					useHTML : true
                },

                rangeSelector: {
                    allButtonsEnabled: true,
                    buttons: [{
                        type: 'week',
                        count: 1,
                        text: '1w'
                    }, {
                        type: 'month',
                        count: 1,
                        text: '1m',       
                    }, {
                        type : 'month',
                        count: 3,
                        text : '3m'
                    },{
                        type: 'month',
                        count: 6,
                        text: '6m'
                    },{
                        type: 'ytd',
                        count : 1,
                        text: 'YTD'
                    },{
                        type: 'year',
                        count: 1,
                        text: '1y'
                    },{
                        type: 'all',
                        text: 'ALL'
                    }

                ],
                    
                    selected: 0
                },

                series: [{
                    name: 'AAPL Stock Price',
                    data: data,
                    type: 'area',
                    threshold: 0,
                    tooltip: {
                        valueDecimals: 2
                    }
                }],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            chart: {
                                height: 300
                            },
                            subtitle: {
                                text: null
                            },
                            navigator: {
                                enabled: false
                            }
                        }
                    }]
                }
            });
        }
  
  </script>


</head>
<body ng-app="stockSearch"  ng-controller="stockController as ctrl" ng-cloak>

        <script>
                window.fbAsyncInit = function() {
                  FB.init({
                    appId            : 147477582512463,
                    autoLogAppEvents : true,
                    xfbml            : true,
                    version          : 'v2.11'
                  });
                };
              
                (function(d, s, id){
                   var js, fjs = d.getElementsByTagName(s)[0];
                   if (d.getElementById(id)) {return;}
                   js = d.createElement(s); js.id = id;
                   js.src = "https://connect.facebook.net/en_US/sdk.js";
                   fjs.parentNode.insertBefore(js, fjs);
                 }(document, 'script', 'facebook-jssdk'));
        </script>
    

<div class="container">
  <div class="row round-corner bg-white">
        <div class="col text-center prompt-text">Stock Market Search</div>
        <div class="form-group" >
              
              <div class="col-sm-3 prompt-text">Enter Stocker Ticker Symbol:*</div>
              <div class="col-sm-6">
                 <form ng-submit = "$event.preventDefault()">

                    <md-autocomplete
                       ng-disabled = "ctrl.isDisabled"
                       md-no-cache = "ctrl.noCache"
                       md-selected-item = "ctrl.selectedItem"
                       md-search-text-change = "ctrl.searchTextChange(ctrl.searchText)"
                       md-search-text = "ctrl.searchText"
                       md-selected-item-change = "ctrl.selectedItemChange(item)"
                       md-items = "item in ctrl.querySearch(ctrl.searchText)"
                       md-item-text = "item.value"
                       md-min-length = "1"
                       placeholder = "eg. AAPL"
                       >
                       
                       <md-item-template>
                          <span md-highlight-text = "ctrl.searchText"
                             md-highlight-flags = "^i">{{item.display}}</span>
                       </md-item-template>
                       
                       <md-not-found>
                        </md-not-found>
                    </md-autocomplete>
                  
                 </form>             
 
                 <div ng-show='ctrl.showWarning' class='warning-text'>Please enter a stock ticker symbol.</div>
              </div>  
              
              <div class="col-sm-3">
                    <button type="button" id="quote-button" class="btn btn-primary {{ctrl.quoteButtonEnabled}}"  ng-click="getQuote()"><span class="glyphicon glyphicon-search"></span> Get Quote</button>
                    <button type="button" id="clear-button"  class="btn btn-raised btn-default" ng-click="clearText()"><span class="glyphicon glyphicon-refresh"></span> Clear</button>
              </div>       
        </div> 
  </div>

  <hr>

  <div class='row round-corner bg-white'>
            <div class='panel panel-default panel-margin slide-right' id='list-panel' ng-show="!ctrl.showDetails">
                <div class='panel-heading'>
                  <span class='prompt-text'>Favorite List</span>
                  <span class='align-right'>
                    <span class='hidden-xs'>Automatic Refresh:</span>
                    <label ng-click="toggleAutoRefresh()"><input type="checkbox" data-toggle="toggle" data-size="small"></label>
                    <button type="button" id="refresh-button" class="btn btn-default btn-sm" ng-click="refreshFavList()">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm  {{ctrl.rightNavEnabled}}" ng-click="gotoDetails()">
                        <span class="glyphicon glyphicon glyphicon-menu-right"></span>
                    </button>
                  </span>

                </div>
                <div class='panel-body'>
                  <div class="col-sm-3">
                      <span class='prompt-text little-space'>Sort by</span>
                      <button type="button" class="btn btn-default dropdown-toggle sort-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ctrl.sortbyDisplay}} <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a ng-click='changeSortBy("Default","Default")'>Default</a></li>
                        <li><a ng-click='changeSortBy("Symbol","symbol")'>Symbol</a></li>
                        <li><a ng-click='changeSortBy("Price","price")'>Price</a></li>
                        <li><a ng-click='changeSortBy("Change","change")'>Change</a></li>
                        <li><a ng-click='changeSortBy("Change Percent","changePercent")'>Change Percent</a></li>
                        <li><a ng-click='changeSortBy("Volume","volume")'>Volume</a></li>
                    </ul>
                      </div>
                  <div class="col-sm-3">
                        <span class='prompt-text little-space'>Order by</span>
                        <button type="button" class="btn btn-default dropdown-toggle sort-button {{ctrl.orderbyEnabled}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ctrl.orderby}} <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a ng-click='changeOrderBy("Ascending")'>Ascending</a></li>
                          <li><a ng-click='changeOrderBy("Descending")'>Descending</a></li>
                      </ul>
                        
                  </div>

                  <table class="table table-striped" class="col-sm-12">
                    <thead>
                      <tr>
                        <th>Symbol</th>
                        <th>Stock Price</th>
                        <th>Change (Change Percent)</th>
                        <th>Volume</th>
                        <th> </th>
                      </tr>
                      <tr ng-repeat="item in ctrl.favList">
                        <td><a ng-click="quoteFav(item.symbol)">{{item["symbol"]}}</a></td>
                        <td>{{item["data"]["price"]}}</td>
                        <td ng-bind-html=item["data"]["changeStr"]></td>
                        <td>{{item["data"]["volume"]}}</td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm" ng-click="removeFav($index)">
                                <span class="glyphicon glyphicon-trash"></span> 
                            </button>
                        </td>
                      </tr>
                    </thead>
                  </table>

                </div>
              
            </div>

            <div class='panel panel-default panel-margin slide-left' id='details-panel' ng-show="ctrl.showDetails">
              <div class='panel-heading'>
                <div class='align-left'>
                    <button type="button" class="btn btn-default btn-sm" ng-click="gotoList()">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </button>
                  </div>
                
                <div class="prompt-text align-center">Stock Details</div>
              </div>
              <div class='panel-body'>
                  <ul class="nav nav-pills">
                      <li role="presentation" class="{{ctrl.detailsNav[0]}}"><a ng-click="switchCurrentStock()"><span class="glyphicon glyphicon-dashboard"></span> <span class="hidden-xs">Current Stock</span> <span class="hidden-sm hidden-md hidden-lg">Stock</span></a></li>
                      <li role="presentation" class="{{ctrl.detailsNav[1]}}"><a ng-click="switchHistoricalChart()"><span class="glyphicon glyphicon-stats"></span> <span class="hidden-xs">Historical Charts</span> <span class="hidden-sm hidden-md hidden-lg">Charts</span></a></li>
                      <li role="presentation" class="{{ctrl.detailsNav[2]}}"><a ng-click="switchNews()"><span class="glyphicon glyphicon-link"></span><span class="hidden-xs">News Feed</span> <span class="hidden-sm hidden-md hidden-lg">News</span></a></li>
                  </ul>

                  <hr>
                  
                    <div id="currentDetails" ng-show="ctrl.detailsDiv[0]">
                      <div class="col-sm-6">
                        <span class="prompt-text">Stock Details</span>
                        <span class="align-right">
                            <button type="button" id="favBubutton" class="btn btn-default btn-sm {{ctrl.favButtonEnabled}}" ng-click="addFav()">
                                <span class="glyphicon {{ctrl.favButtonStyle}}"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-sm {{ctrl.FBButtonEnabled}}" ng-click="FBClick()">
                                <img src="http://cs-server.usc.edu:45678/hw/hw8/images/facebook.png" height="20px">
                            </button>

                        </span>
                        

                        <br>

                    <div class="progress-container" ng-show="ctrl.showBar" >
                            <div class="progress">
                                    <div class="progress progress-bar progress-bar-striped active " role="progressbar"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%" >
                            </div>
                            </div>    
                    </div>   
                    
                    
                      <table class="table table-striped" ng-show="!ctrl.showBar">
                        <tr>
                          <td class="prompt-text">Stock Ticker Symbol</td>
                          <td>{{ctrl.currentSymbol}}</td>
                        </tr>
                        <tr>
                            <td class="prompt-text">Last Price</td>
                            <td>{{ctrl.today_close}}</td>
                        </tr>
                        <tr>
                            <td class="prompt-text">Change (Change Percent)</td>
                            <td ng-bind-html="ctrl.changeStr"></td>
                        </tr>
                        <tr>
                            <td class="prompt-text">Timestamp</td>
                            <td>{{ctrl.timestamp}}</td>
                        </tr>
                        <tr>
                            <td class="prompt-text">Open</td>
                            <td>{{ctrl.today_open}}</td>
                        </tr>
                        <tr>
                            <td class="prompt-text">Previous Close</td>
                            <td>{{ctrl.yesterday_close}}</td>
                        </tr>
                        <tr>
                            <td class="prompt-text">Day's Range</td>
                            <td>{{ctrl.range}}</td>
                        </tr>
                        <tr>
                            <td class="prompt-text">Volume</td>
                            <td>{{ctrl.volume}}</td>
                        </tr>

                      </table>

                    </div>
                    

                      <div class="col-sm-6">
                          <ul class="nav nav-tabs">
                              <li role="presentation" class="{{ctrl.chartsNav[0]}}"><a ng-click="drawPrice()">Price</a></li>
                              <li role="presentation" class="{{ctrl.chartsNav[1]}}"><a ng-click='drawIndicator("SMA",1,1)'>SMA</a></li>
                              <li role="presentation" class="{{ctrl.chartsNav[2]}}"><a ng-click='drawIndicator("EMA",1,2)'>EMA</a></li>
                              <li role="presentation" class="{{ctrl.chartsNav[3]}}"><a ng-click='drawIndicator("STOCH",2,3)'>STOCH</a></li>
                              <li role="presentation" class="{{ctrl.chartsNav[4]}}"><a ng-click='drawIndicator("RSI",1,4)'>RSI</a></li>
                              <li role="presentation" class="{{ctrl.chartsNav[5]}}"><a ng-click='drawIndicator("ADX",1,5)'>ADX</a></li>
                              <li role="presentation" class="{{ctrl.chartsNav[6]}}"><a ng-click='drawIndicator("CCI",1,6)'>CCI</a></li>
                              <li role="presentation" class="{{ctrl.chartsNav[7]}}"><a ng-click='drawIndicator("BBANDS",3,7)'>BBANDS</a></li>
                              <li role="presentation" class="{{ctrl.chartsNav[8]}}"><a ng-click='drawIndicator("MACD",3,8)'>MACD</a></li>
                          </ul>

                          <div class="progress-container"ng-show="ctrl.showBar" >
                                <div class="progress">
                                        <div class="progress progress-bar progress-bar-striped active " role="progressbar"
                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%" >
                                </div>
                                </div>    
                        </div>   

                          <div id="chart-container" ng-show="!ctrl.showBar"></div>
                      </div>
                    </div>

                    <div id="historical-container" class="col-sm-12" ng-show="ctrl.detailsDiv[1]">
                            <div class="progress-container"ng-show="ctrl.showBar" >
                                    <div class="progress">
                                            <div class="progress progress-bar progress-bar-striped active " role="progressbar"
                                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%" >
                                    </div>
                                    </div>    
                            </div>   
                            <div id="historical-chart-container" ng-show="!ctrl.showBar"></div>
                    </div>
                    

                    <div id="news-container" ng-show="ctrl.detailsDiv[2]">
                        <div class="progress-container" ng-show="ctrl.showBar" >
                                <div class="progress">
                                        <div class="progress progress-bar progress-bar-striped active " role="progressbar"
                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%" >
                                </div>
                                </div>    
                        </div>   

                        <div class="well" ng-repeat="news in ctrl.newsData" ng-show="!ctrl.showBar">
                            <div class="news-title"><a href={{news["link"]}} target="_blank">{{news["title"]}}</a></div><br>
                            <div class="prompt-text">Author: {{news["author"]}}</div><br>
                            <div class="prompt-text">Date: {{news["date"]}}</div>
                        </div>
                    </div>

                   

              </div>


            </div>
  </div>


  </div>
    
</body>
</html>
